<div class="parent">
    <div class="card">
        <div class="card-bank">Wizer Card</div>
        <div class="card-num">##################</div>
        <div class="sec-card">
            <div class="date-grp">
                <div class="fnt-14 mb-10">Exp</div>
                <div class="fnt-14">01/24</div>
            </div>
            <div>
                <img style="width: 90px" src="../../assets/card_type_images/Mastercard-Logo.png" alt="">
            </div>
        </div>
    </div>
</div>